# Copy to .env and set your preferred SMS provider
# Options: africastalking | twilio | (leave empty to simulate)
SMS_PROVIDER= africastalking

# Africa's Talking (recommended for Africa)
AFRICASTALKING_API_KEY= atsk_3e8a185e02d3d6a37fa54ce059da521ac713fe5f675b79cb9504fb343ef067aaaf4cedd0
AFRICASTALKING_USERNAME= safezone
# Optional sender ID (requires approval). Otherwise default short code will be used.
AFRICASTALKING_SENDER_ID=

# Twilio (alternative)
TWILIO_ACCOUNT_SID= AC37bba8a565e338297980a16886a1abef
TWILIO_AUTH_TOKEN= 5ab86a70af30bf23f0879311ac637146
# Must be a valid Twilio phone number you own (E.164 format)
TWILIO_FROM= +16203170240